.rowbutton {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.control-group {
    display: inline-block;
    vertical-align: top;
    background: white;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.jumbotronstyle {
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
}