<div class="container body-content">

    <div class="jumbotron text-center">
        <h5>CAMPEONATO DE FILMES</h5>
        <h3 style="font-weight:600;">Resultado Final</h3>
        <hr width="5%">
        <h5 style="font-weight:600;">Veja o resultado final do Campeonato de Filmes de forma simples e rápida</h5>
    </div>

    <div class="row">

        <div class="col-sm-1">
            <div class="jumbotron text-center jumbotronstyle" style="background-color: #C0C0C0; width: 80px;">
                <h4 style="font-weight:600;">1º</h4>
            </div>
        </div>

        <div class="col-sm-11">
            <div class="jumbotron text-center jumbotronstyle">
                <h4 class="primeiro" style="font-weight:600; text-align:left;"></h4>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-sm-1">
            <div class="jumbotron text-center jumbotronstyle" style="background-color: #C0C0C0; width: 80px;">
                <h4 style="font-weight:600;">2º</h4>
            </div>
        </div>

        <div class="col-sm-11">
            <div class="jumbotron text-center jumbotronstyle">
                <h4 class="segundo" style="font-weight:600; text-align:left;"></h4>
            </div>
        </div>

    </div>

</div>